@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');
/*
Fonts:
- Poppins: 300, 400, 600, 700, 800
- Rubik: 300, 400, 500, 600
*/

:root {
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #fff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
    
    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}


*{
    margin: 0;
    padding: 0;
}

*,::before,::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

img {
    max-width: var(--percent100);
    vertical-align: middle;
}

strong {
    font-weight: var(--fw8);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder {
    font: inherit;
}

h1,h2,h3,h4 {
    font-family: 'Poppins';
}

h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: var(--fw7);
}

h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

/* ---------------
 * REUSABLE SELECTOR
 * -------------- */

 .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
 }

 .column {
    margin-left: -0.938em;
    margin-right: -0.938em;
 }

 .column .row {
    padding: 0 0.938em;
 }

 .flexwrap {
    display: flex;
    flex-wrap: wrap;
 }

 .flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .flexitem {
    display: flex;
    align-items: center;
 }

 .flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
 }

.main-links a:hover {
    color: var(--secondary-color);
}

.second-links a:hover {
    color: var(--light-text-color);
}

.icon-small, .icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small {
    font-size: 1.25em;
    margin-left: auto;
}

.icon-large {
    font-size: 1.75em;
    padding: 0 0.75em 0 0;
}

.mobile-hide {
    display: none;
}

.object-cover img {
    position: absolute;
    object-fit: cover;
    width: var(--percent100);
    height: var(--percent100);
    display: block;
}

.products .media {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.primary-button, .secondary-button, .light-button {
    font-size: var(--font-small);
    padding: 0.9em 2em;
    height: auto;
    width: fit-content;
    border-radius: 2em;
    transition: var(--trans-background-color);
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.primary-button:hover {
    background-color: var(--dark-color);
}

.secondary-button {
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}

.secondary-button:hover {
    background-color: var(--light-bg-color);
    color: var(--secondary-dark-color);
}

.light-button {
    background-color: var(--light-bg-color);
}

.light-button:hover {
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}

.view-all {
    font-size: var(--font-small);
    display: flex;
    gap: 1em;
    transition: var(--trans-color);
}

.mini-text {
    font-size: var(--font-smaller);
    color: var(--light-text-color);
}






/* ---------------
 * ---- HEADER ----
 * -------------- */

 header li > a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
 }

 /* ---- HEADER -----
 * a. Header Top ----
 * --------------- */

 .header-top .wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
 }

 .header-top .wrapper ul {
    gap: 2em;
 }

.header-top li {
    position: relative;
}

.header-top ul ul {
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
}

.header-top .right ul ul li a {
    padding: 0.25em 1em;
}

.header-top .right ul ul li.current a {
    background-color: var(--border-color);
}

.header-top li:hover ul {
    display: block;
}


 /* ---- HEADER -----
 * b. Header Nav ----
 * --------------- */

.header-nav {
    padding: 0.5em 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--border-color);
}

.trigger {
    font-size: 1.5em;
    display: flex;
    padding: 0.25em;
    margin-right: 0.5em;
}

.logo a {
    font-family: 'Poppins';
    font-size: 1.75em;
    position: relative;
    font-weight: var(--fw8);
    display: flex;
    padding-left: 0.75em;
    margin-right: 2em;
}

.circle {
    position: absolute;
    top: -15px;
    left: 0;
    width: 38px;
    height: 38px;
    border-radius: var(--percent50);
    background-color: var(--light-bg-color);
    z-index: -1;
}

.circle::before {
    content:'' ;
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: var(--percent50);
    background-color: var(--secondary-color);
    bottom: 5px;
    right: 5px;
    opacity: .4;
}

.header-nav nav > ul {
    line-height: 100px;
    gap: 2em;
}

.fly-item {
    position: absolute;
    height: 16px;
    font-size: var(--font-smaller);
    padding: 3px;
    text-align: center;
    line-height: 10px;
    color: var(--white-color);
}

nav .fly-item {
    top: 50%;
    margin-top: -24px;
    width: 32px;
    border-radius: 3px;
    right: -32px;
    background-color: var(--primary-color);
}

.header-nav .right {
    position: relative;
    margin-left: auto;
}

.header-nav .right .icon-large {
    position: relative;
}

.header-nav .right .fly-item {
    top: 0;
    right: 16px;
    width: 16px;
    background-color: var(--secondary-dark-color);
    border-radius: var(--percent50);
}

.mega .flexcol {
    flex: 1;
    min-width: 180px;
    padding-right: 2.5em;
    margin-bottom: 1.5em;
    z-index: 1;
}



/* ---- Header ----
 * c. Header Main, departments category
 * -----------------*/

 .header-main {
    background-color: var(--secondary-dark-color);
    padding: 1.5em 0;
    margin-bottom: 2em;
 }

 .dpt-cat {
    position: relative;
    z-index: 10;
 }

 .dpt-cat .dpt-head {
    position: relative;
    width: 300px;
    padding: 0.75em 1.5em;
    background-color: var(--primary-color);
    border-radius: 7px 7px 0 0;
    color: var(--white-color);
    margin-bottom: -2.15em;
 }

.dpt-cat .dpt-head .mini-text {
    color: var(--light-bg-color);
}

.dpt-cat .dpt-trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3em;
    height: 60px;
    width: 60px;
}

.dpt-menu > ul > li > a {
    font-size: var(--font-small);
    height: 46px;
    align-items: center;
} 

.dpt-menu .has-child:hover ul { 
    display: block;
}

.dpt-menu .has-child li a:hover {
    text-decoration: underline;
}

/* ---- Header ----
 * d. Search form
 * -----------------*/

.header-main .right {
    flex: 1;
}

form {
    position: relative;
}

form.search input {
    line-height: 3.25em;
    padding: 0 7em 0 4.5em;
    border: 0;
    outline: 0;
    width: var(--percent100);
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: var(--fw3);
}

form.search :where(span,button) {
    position: absolute;
    top: 0;
    padding: 0.55em 1.5em;
    font-size: 1em;
    color: var(--light-text-color);
    height: var(--percent100);
}

form.search button {
    right: 0;
    border: 0;
    outline: 0;
    font-size: 0.875em;
    font-weight: var(--fw6);
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: var(--trans-background);
}

form.search button:hover {
    background-color: var(--dark-color);
}














/* ----------------------
 * -----RESPONSIVE------ 
 *--------------------- */ 


@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }

    .desktop-hide {
        display: none;
    }

    .mobile-hide {
        display: block;
    }

    .logo a {
        margin-right: 2em;
    }

    .header-nav {
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }

    .header-nav .right li > a {
        margin-left: 1em;
    }

    /* mega menu */
    nav .mega {
        position: absolute;
        width: var(--percent100);
        height: auto;
        top: auto;
        left: 0;
        right: 0;
        padding: 2.5em;
        line-height: 2em;
        background-color: var(--light-bg-color);
        box-shadow: rgb(0, 0, 0 / 20%) 0 30px 20px -30px;
        z-index: 100;

        display: none;
    }

    nav li.has-child:hover .mega {
        display: block;
    }

    nav .mega .wrapper {
        display: flex;
    }

    nav .mega h4 {
        font-size: 0.8em;
        text-transform: uppercase;
    }

    nav .mega ul {
        font-size: var(--font-small);
    }

    nav .mega .women-brands {
        display: flex;
        flex-wrap: wrap;
        max-width: 180px;

    }

    nav .mega .women-brands li {
        min-width: 80px;
    }

    nav .mega .view-all {
        margin-top: 1em;
    }

    nav .mega .products {
        flex: 2;
        padding: 0;
        align-items: center;
        position: relative;
    }

    nav .mega .products .row {
        width: var(--percent100);
    }

    nav .mega .products .media {
        height: 400px;
    }

    nav .mega .products .text-content {
        line-height: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        margin-top: 0.5em;
        position: absolute;
        bottom: 4em;
        width: var(--percent100);
    }
    
    nav .mega .products .text-content h4 {
        font-size: 2em;
        font-weight: var(--fw8);
        text-align: center;
        color: var(--secondary-dark-color);
    }

    .header-main .right {
        max-width: 600px;
        margin-left: auto;
    }

    /* Departments menu */
    .dpt-menu {
        position: absolute;
        top: var(--percent100);
        width: 300px;
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        border-top: 0;
        border-bottom: 0;
    }

    .dpt-menu > ul > li > a {
        font-weight: var(--fw5);
        padding: 0 1.5em;
        border-bottom: 1px solid var(--border-color);
    }

    .dpt-menu .has-child > ul, .dpt-menu .mega {
        position: absolute;
        top: 0;
        left: var(--percent100);
        width: var(--percent100);
        height: auto;
        min-height: var(--percent100);
        padding: 1.5em;
        font-size: var(--font-small);
        line-height: 2.5em;
        border: 1px solid var(--border-color);
        border-top: 0;
        display: none;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto;
    }

    /* showing the first sub menu */
    .dpt-menu .has-child:nth-child() .mega {
        display: block;
    }

    .dpt-menu .beauty ul {
        background-image: url(assets/menu/menu_bg1.jpg);
    }

    .dpt-menu .electronic ul {
        background-image: url(assets/menu/menu_bg2.jpg);
    }

    .dpt-menu .fashion ul {
        background-image: url(assets/menu/menu_bg3.jpg);
    }

    .dpt-menu .homekit .mega {
        background-image: url(assets/menu/menu_bg4.jpg);
    }

    .dpt-menu .has-child > :where(ul,.mega)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(225,225,225,1) 0%, rgba(255, 255, 100, 0.1));
    }

    .dpt-menu .mega {
        width: auto;
        min-width: var(--percent100);
    }

    .dpt-menu .has-child:hover .mega {
        display: flex;
    }



}